*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
--ff--title: 'Nunito', sans-serif;
--ff-text: 'Rubik', sans-serif;
--clr-blue: 13293D
}

.body{
    font-family: var(--ff-text);
     background-color:rgb(40, 66, 138) ;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: aliceblue;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 39, 75);
    padding-inline: 2rem;

    .logo{
        max-width: 5rem;
    }
    
    .navegador{
        display:flex;
        gap: 2rem;
    }

}

.logo2{
    max-width: 5rem;
}

.header{
    font-family: var(--ff-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 39, 75);
    padding-inline: 2rem;

    .navegador_con{
        display:flex;
        gap: 2rem;
    }
    
    .cuerpo{
        background-color: rgb(40, 66, 138);
    }
    
    .main_con{
        display: flex;
    }
}


.contactanos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center ;

     .contacto h1{
        font-family: var(--ff-text);
        font-weight: 400rem;
        font-size: 1.6rem;
        padding-top: 3rem;
        text-align: center;
        
    }
   }
   .contactanos_form{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-template-areas: 
     "nombre email"
     "telefono direccion";
     padding-top: 2rem;
     width: 36rem;
     gap: 1rem;

     .contactanos_form input{
        padding: 0.75rem;
    }
   .contactanos_form .nombre{
    grid-area: nombre;
     }
     
.contactanos_form .email{
    grid-area: email;
   }

   .contactanos_form .number{
    grid-area: telefono;
     }
   .contactanos_form .direccion{
    grid-area: direccion;
    }
    }

   

    @media screen and (max-width: 480px) {
        .main-header{
            flex-direction: column;
        }

        .grid{
            display: flex;
            flex-direction: column;
            padding-inline: 2rem;
        }

        .grid_item{
            flex: 1;
        }

        .contactanos{
            padding: 2rem;
        }

        .contactanos_form{
            width: auto;
            display: flex;
            flex-direction: column;
            width: 80%;
        }
    }

    .cuerpoa{    
    background-color: rgb(40, 66, 138);
}

    .alquilar-header{
        font-family: var(--ff-text);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(39, 39, 75);
        padding-inline: 2rem;

        .logo-alquilar{
            max-width: 5rem;
        }
}  
 
  

    .cuerpov{
    background-color: rgb(40, 66, 138);
    }

    
 
    .headerv{
      
   font-family: var(--ff-text);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(39, 39, 75);
        padding-inline: 2rem;

        .logov{
            max-width: 5rem;
        }
        
        .navegadorv{
            display:flex;
            gap: 2rem;
        }
}




.vender{ 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center ;
    }

    .formulario{
    display: grid;
     padding-top: 2rem;
     width: 36rem;
     gap: 1rem;
    }


    .cuerpoComprar{
        background-color:rgb(40, 66, 138);
    }

    .headerComprar{
        font-family: var(--ff-text);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(39, 39, 75);
        padding-inline: 2rem; 
    }

    .logo_com{
        max-width: 5rem;
    }

    .navegador_com{
        display: flex;
        gap: 2rem;
    }